PiStrom/Config/StreamInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType id="clockTime" name="clockTime">
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StreamInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name" type="xs:string" />
        <xs:element name="Genre" type="xs:string" />
        <xs:element name="Music">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TimeSpan">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Folder" type="xs:anyURI" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="File" type="xs:anyURI" />
                  </xs:sequence>
                  <xs:attribute name="From" type="clockTime" use="required" />
                  <xs:attribute name="Till" type="clockTime" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="RelativeTo" type="xs:anyURI" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>